{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}


<body>
  <h1>Опишите ваш вопрос преподавателю</h1>
  <form method="post" class="form-contents">
    <p>Имя: <input type="text" name="username" required></p>
    <p>Email: <input type="email" name="email" required></p>
    <p>Сообщение:</p>
    <p><textarea name="message" cols="30" rows="10"></textarea></p>
    <p><input type="submit" value="Отправить сообщение"></p>
  </form>
  <a href="/">На главную</a>
</body>
{% endblock %}
